@import "bootstrap.less"; /* grab the bootstrap less first, which grabs all other less files needed */

/*changing bootstrap vars */
@font-family-sans-serif:  "Lora", Helvetica, Arial, sans-serif;
@headings-font-family:    "Open Sans", Helvetica, Arial, sans-serif;
@navbar-default-color: white;
@navbar-default-bg: #101d42;
@border-radius-pills:0px;

@navbar-default-link-color:                white;
@navbar-default-link-hover-color:          @execwelcome-nav-active-hover;
@navbar-default-link-active-color:         darken(@execwelcome-nav-active-hover, 10%);
@navbar-default-link-active-bg:            transparent;

@navbar-default-link-color:white;
@navbar-default-link-hover-color: @execwelcome-nav-active-hover;
@navbar-default-link-active-color: darken(@execwelcome-nav-active-hover, 10%);
@navbar-default-link-active-bg: transparent;

@nav-link-hover-bg: @execwelcome-nav-active-hover-bg;

@nav-tabs-active-link-hover-color: @execwelcome-nav-active-hover-bg;

@font-size-navbar-brand:  50px;
@font-size-navbar-brand-sm:  28px;
@font-size-navbar-brand-xs:  18px;
@font-size-intro: 40px;
@font-size-intro-sm: @font-size-navbar-brand-sm;
@font-size-navbar-pills:  18px;
@font-size-section:18px;

@nav-pills-border-radius: @border-radius-pills;
@nav-pills-active-link-hover-bg: @execwelcome-nav-active-hover-bg;

/* vars */
@execwelcome-text:black;
@stickynav-height-padding: 125px;
@stickynav-height-padding-sm: 49px;
@execwelcome-logo-width: 618px;
@execwelcome-text-color: @navbar-default-bg;
@execwelcome-section-bg:  #ffffff;
@execwelcome-nav-active-hover: #89d2dc;
@execwelcome-nav-active-hover-bg: transparent;
/*testimonial-bordermonials*/
@testimonial-border:solid 2px @execwelcome-text-color;
@testimonial-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px rgba(82, 168, 236, 0.6);



body, html {
  /* important */
  height: 100%;
}

* {
/* 	transition: all .5s ease-in-out, top 0s, left 0s, width 0s, height 0s; */
}

.navbar-header {
	text-align: center;
	white-space: nowrap;
	@media (max-width: @screen-xs-max){
		margin:0;
	}
	@media (min-width: @screen-sm-min){
    float: left;
    width: 100%;
	}
}

.navbar-brand {
  float:none;
  height: auto;
  display: inline-block;
  p {
    margin-bottom: 0;
    letter-spacing: 3px;
    display: inline;
    line-height: 47px;
    vertical-align: middle;
  }
	
	@media (max-width: @screen-xs-max){
		margin-right:-60px; //compensate for the button
		padding:0;
		font-size:@font-size-navbar-brand-sm;
		img
		{
			display:none;
		}
	}
	@media (max-width: @screen-xs-min){
		font-size:@font-size-navbar-brand-xs;	
	}
}

.navbar{
	font-family: @headings-font-family;
	font-weight:100;
	&:not(.top-nav-collapse){
		.navbar-logo
		{
		/* 	hide logo until scrolled down */
			display:none;
		}
	}
	
	@media (min-width: @screen-lg-min){
		letter-spacing: 2px;
	}
	.subtitle-nav{
		font-size: 11px;
		width:100%;
		text-align-last: justify;
	}
	.subtitle{
		width:100%;
		text-align-last: justify;
		font-size: 18px;
		@media (min-width: @screen-md-min){
			font-size: 34px;
			padding-top: 10px;
		}
	}
}
/*change bootstrap nav aspects*/

.nav {
  > li {
		vertical-align: middle;
    > a {
      &:hover,
      &:focus {
				color: @execwelcome-nav-active-hover;
        border-bottom-width: 1px;
        border-bottom-color: @execwelcome-nav-active-hover;
      }
		 &:active
			{
				color: darken(@execwelcome-nav-active-hover, 30%);
			}
    }

  }
}

.nav-tabs {
  > li {
    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
				border:none;
        border-bottom: 2px solid @execwelcome-nav-active-hover;
      }
    }
  }
}

.nav-justified {
/*   @media (min-width: @screen-sm-min) { */
    > li {
			white-space: nowrap;
		}
/* 	} */
}

ul.nav {
  text-align: center;
  padding-bottom: 10px;
  li {
/* 		@media (min-width: @screen-lg-min){
			width: auto;
			display: inline-block;
			margin: 0 4px;
		} */
    a {
      border-bottom: 2px solid transparent;
      padding-bottom: 5px;
      &:hover,
      &:focus {
/*         background-color: transparent; */
/*         color: #89d2dc; */
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
/* 	  active needed for scroll spy  */
    &.active:not(.navbar-logo) > a,
    &.active:not(.navbar-logo) > a:hover,
    &.active:not(.navbar-logo) > a:focus {
      color: @execwelcome-nav-active-hover;
      border-bottom: 2px solid @execwelcome-nav-active-hover;
/*       background-color: transparent; */
    }
  }
}

.nav-justified-narrow {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: @font-size-navbar-pills;
  a {
    color:@navbar-default-color;
  }
}

.top-nav-collapse {	
	color: white;
	@media (min-width: @screen-lg-min){
		display:inline-block;
		width:auto;
	}
	@media (min-width: @screen-sm-min){
		padding: 5px 0;
		.nav {
			padding-bottom: 7px;
		}
		.navbar-brand {
			/* 	hide big logo when scrolled down */
			display:none;
		}
	}
	.navbar-logo {
		@media (min-width: @screen-sm-min) {
			/* 	hide small logo until scrolled down */
			display: table-cell; //actually just hide it permanently 
			width: 1%;
			font-weight:bolder;
		}
	}
}

.cd-scrolling-bg{
  background-color: @execwelcome-section-bg;
  color: @execwelcome-text-color;
}
.section {
/*     height: 100%; */
	/*needed for sticky nav */
	@media (min-width: @screen-sm-min){
  	padding-top: @stickynav-height-padding;
	}
	@media (max-width: @screen-xs-max){
		padding-top: @stickynav-height-padding-sm;
	}
	text-align: center;
	font-size:@font-size-section;
	ul
	{
			list-style-position: inside;
			line-height: 2em;
			li
			{
			}
	}
}
.cd-main-content p::selection,.cd-main-content p::-moz-selection
{
	color: white;
	background: @navbar-default-color;
	text-shadow: none;
}
.section ul  {
	padding:0;
	ul 
	{
		padding:0 0 0 10px;
	}
}


/* alternating scrolling bg */
.cd-main-content {
  height: 100%;
  position: relative;
  z-index: 1;
	
	@media (min-width: @screen-sm-min){
		/* 	needed for sticky nav */
  	padding-top: @stickynav-height-padding;
	}
	/* 	needed for sticky nav when sm*/
	@media (max-width: @screen-xs-max){
		padding-top: @stickynav-height-padding-sm;
	}
	
}
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
 .cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.cd-fixed-bg {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	@media (min-width: @screen-sm-min) {
		background-attachment: fixed;
	}
}

.cd-scrolling-bg {
  position: relative;
/*   min-height: 100%; */
  padding: 1em 0 1em 0;
/*   padding: @stickynav-height-padding 0 1em 0; */
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/*HR style behind header text  */
.sectionhr{
	width:100%; 
	text-align:center; 
	border-bottom: 3px solid @execwelcome-text-color; 
	line-height:0.1em; 
	margin:22px 0 20px;
	
	.sectionhr-header
	{
		background:#fff; 
		padding:0 10px;
		font-size: @font-size-navbar-brand-sm;
		font-weight: 300;
	}
}
.section-subhead
{
	font-size:24px;
	font-weight:600;
}

section.intro-section
{
	h1
	{
		font-size: @font-size-intro;
		text-shadow: 0 2px 4px rgba(0, 0, 0, .8);
		line-height:2em;
		font-weight: 300;
    /*make it fit the width of the logo when in fuller screens*/
		@media (min-width: @screen-sm-min) {
			max-width: @execwelcome-logo-width;
		}
		/*make it a smaller font when on a phone*/
		@media (max-width: @screen-xs-max) {
			font-size: @font-size-intro-sm;
			line-height:1.5em;
		}
	}
}

#services {
	li {
		padding: 20px 0 0 0;
		list-style: none;
	}
	@media (max-width: @screen-xs-max){
		.sectionhr-header{
			line-height:initial;
		}
	}
}
.testimonial-box
{
/* 	&:extend(.col-lg-6); extend wasnt working */
	margin-top:2em;
	/* margin-bottom:2em; */
	border: @testimonial-border;
	&:hover
	{
		outline: thin dotted \9;
		-webkit-box-shadow: @testimonial-box-shadow;
		-moz-box-shadow: @testimonial-box-shadow;
		box-shadow: @testimonial-box-shadow;
	
	}
	.testimonial-testi
	{
		padding: 1em;
		border-bottom:@testimonial-border;
		font-family: OpenSans-Light;
		font-weight:bolder;
		font-size:@font-size-section;
	}
	.testimonial-company
	{
		font-style:italic;
		color:black;
	}
	.testimonial-quote-box
	{
		padding:1em;
		font-size:16px;
	}
}


.bio-image
{
	float:left;
	margin: @line-height-computed 10px 10px 0;
	border: solid 1px @execwelcome-text-color;
}
.bio-header
{
	text-align:left;
	font-size: 24px;
	font-weight:300;
}
.bio-text
{
	color: @execwelcome-text;
	text-align:left;
	font-size: 16px;
	font-weight:300;	
	font-color:@font-family-sans-serif;
}
#links {
	ul {
		text-align:initial;
	}
}
#contact
{
	@base: @navbar-default-bg;
	@text: @execwelcome-text-color;
	@invalid-color: #E91E63;
	@width: 100%;
	@offscreen:2000px;
	@cubic: cubic-bezier(.64,.09,.08,1);

	form{
	}


	form {
		box-sizing: border-box;
		font-family:@headings-font-family;
		margin: 0 auto 0;
		padding: 0 0 40px;
		border-radius: 3px;
		color: @text;
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		font: inherit;
		transition: transform 0.3s ease-in-out,
			font-size 0.3s ease-in-out,
			visibility 0.3s ease-in-out;
	}

	input,
	textarea {
		font: inherit;
		font-size: 0.8em;
 		margin: 10px 0 10px 0;
/* 		width: @width; */
		display: block;
		border: none;
		padding: 20px 0 10px 0;
		border-bottom: solid 1px @base;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, @base 4%);
		background-position: -@offscreen 0;
		background-size: @width 100%;
		background-repeat: no-repeat;
		transition: background 0.3s @cubic;
		resize: none;
		overflow: hidden; 
		width:@width;
		&:focus::-webkit-input-placeholder {
			color: @base;
		}  
		&:focus, 
		&:valid {
			box-shadow: none;
			outline: none;
			
			&:not([value=""]),&:focus {
				background-position: 0 0;
				&::-webkit-input-placeholder {
					font-size: 0.8em;
					transform: translateY(-20px);
					visibility: visible !important;
					opacity: 1;
				}
			}
		}  
	}

	input[type="email"] {
		
		&~span.validation-text {
			visibility: hidden;
			width: @width;
			margin-left: 25px;
			margin-top:-5px;
			color: white;
			transition: color 0.3s ease-in-out;
		}

		&:not(:focus):not(:valid):not([value=""]) {
			&~span.validation-text {
				visibility: visible;
				color: @invalid-color;
			}
		}
	}

	.flex {
		display: flex;
		align-items: stretch;
		textarea {
			line-height: 120%;
		}
	}

	button {
		transition: transform 0.2s @cubic,
			 box-shadow 0.2s @cubic;
		border: none;
		background: @base;
		cursor: pointer;
		border-radius: 3px;
		padding: 6px;
		width: (@width/2);
		color: white;
		margin: 30px 0 0 25px;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
		&:hover { 
			box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
			background: lighten(@base,20%);			
		}
		&:active{
			background: darken(@base,20%);
			transform: translateY(1px);
		}
	}

	.contact-social-link{
		margin: 40px 0;
		img {
			vertical-align:top;
		}
		.fb-like{
			top:-5px;
		}
	}
}
#footer
{
	border-radius:0 !important;
	.navbar;
	a {
		color: @execwelcome-nav-active-hover;
	 &:active
		{
			color: darken(@execwelcome-nav-active-hover, 30%);
		}
		&:focus
		{
			border-bottom-width: 1px;
			border-bottom-color: @execwelcome-nav-active-hover;
		}
	}
	min-height:100px;
/* 	font-family:@font-family-sans-serif; */
	font-family:@headings-font-family;
	color:@navbar-default-color;
	background-color:@navbar-default-bg; 
	margin-bottom:0;
	.circle {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 30px;
		color: #fff;
		line-height: 50px;
		float: left;
		text-align: center;
		margin-left: 12.5px;
		margin-right: 12.5px;
		margin-bottom: 12.5px;
		display: inline-block;
		box-shadow: 2px 2px 5px #888888;
	}
	.circle.facebook{
		background: #3b5998;
	}
	.circle.linkedin{
		background: #0077B5;
	}
	.circle:hover {
		/* margin-top: inherit; */
		transform: rotateY(360deg);
		transition: 0.4s;
		margin-top: -5px;
	}
	.circle.facebook:hover {
		background: #718dc8;
	}

	.circle.linkedin:hover {
			background: #2585B7;
	}
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("/imgs/bgs/BALTOPHOTOblurredlayer.jpg");
}
.cd-fixed-bg.cd-bg-2 {
/*   background-image: url("http://placehold.it/350x250?text=img2"); */
  background-image: url("/imgs/bg/fedhill.jpg");

}
.cd-fixed-bg.cd-bg-3 {
/*   background-image: url("http://placehold.it/350x250?text=3-imgs-here"); */
	  background-image: url("/imgs/bg/threeimgs.jpg");
}
.cd-fixed-bg.cd-bg-4 {
/*   background-image: url("http://placehold.it/350x250?text=img4"); */
	background-image: url("/imgs/bg/skyline-smaller.jpg");
}
.cd-fixed-bg.cd-bg-5 {
/*   background-image: url("http://placehold.it/350x250?text=img5"); */
	  background-image: url("/imgs/bg/camdenyards.jpg");
}